<!DOCTYPE html>
<html>
    <head>
        <title> hello {{name}}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='log_in.css')}}"}
    </head>
    
    <body id="body">
        <div id="container">
            <div id="head">
                <p class="name">hello {{name}}</p>
                <form class="log_out" action="log_out" method="POST">
                    <input type="SUBMIT" value="log_out"/>
                </form>
            </div>
            <div id="friends">
                <form action="friend" method="POST">
                    <input type="TEXT" name="account_number" placeholder="your friends' account namber">
                    <input type="SUBMIT" value="search_friend"/>
                    <div>
                        <ul>
                            <p class="name" style="color:blue">my_friends:</p>
                            {% for the_friends in friends %}
                            <li> <h>{{the_friends}}</h> <li>
                            {% else %}
                            <li><em> you have no friends in your list</em></li>
                            {% endfor %}
                        </ul>
                    </div>
                </form>
            </div>
            <div id="ideas">
                <form action="my_thoughts" method="POST">
                    My thoughts:<input type="TEXT" name="my_thoughts" placeholder="write down your thoughts">
                    <input type="SUBMIT" value="submit"/>
                    <br/>
                </form>
                <div>
                    <ul>
                        <a href="my_thoughts_me"><p class="name" style="color:blue"> my ideas:</p></a>
                        <p class="name" style="color:blue"> your requests:</p>
                        {% for requests in request %}
                        <div>
                        <form action="make_friends" method="POST">
                        <li> <h>your friend {{requests}} want to make friends with you</h><br />
                            <button type="submit" name="agree" value="agree"> agree</button>
                            <button type="submit" name="disagree" value="disagree">disagree</button>
                        </li>
                        {% else %}
                        <li> <em> there is no request in your zone</em></li>
                        {% endfor %}
                        </form>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
