<!DOCTYPE html>
{% extends "home_base.html" %}
{% block head %}
        <title> hello {{name}}</title>
{% endblock %}

{% block body %}
            <div>
                <form action="my_thoughts" method="POST">
                    My thoughts:<input type="TEXT" name="my_thoughts" placeholder="write down your thoughts">
                    <input type="SUBMIT" value="submit"/>
                    <br/>
                </form>
                <div>
                    <ul>
                        <p class="name" style="color:blue"> my ideas:</p>
                        {% for the_idea in shuoshuo %}
                        <li> <h>{{the_idea}}</h><br />
                            <form action="the_comments" method="POST">
                                <input type="SUBMIT" value="make comment"/>
                            </form>
                        </li>
                        {% else %}
                        <li> <em> there is no ideas in your zone</em></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
{% endblock %}
