<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">        
        <script type="text/javascript" src="{{url_for('static',filename='log_in.js')}}"></script>
        <link rel="stylesheet"  type="text/css" href="{{url_for('static',filename='zhuye.css')}}">
	</head>
<body class="body">
    <div class="div">
        <div class="account_number">
            your user name:
            <input  id="account_number" type="TEXT" name="account_number" placeholder="your account number" onchange="check_account_number()">
        </div>
           <div class="the_warning">
            <span style="color:red;font-size:15px;width" id="the_wrong_account_number"></span>
            <br/>
           </div>
        <div class="password">
            your password:
            <input id="password" type="PASSWORD" name="password" placeholder="your password word">
        </div>
        <DIV class = "warning">
            <p id="the_warning" style="color:red;font-Size:15px"></p>
        </DIV>
        <br/>
        <button onclick="check()">login</button>
    <form action="set.html" method="get">
        <input type="SUBMIT" value="set">
    </form>
    </div>
</body>
</html>
