<html>
    <head>
        <meta charset="utf-8">
    </head>

    <body>
        <form action="add_table" method="POST">
            请输入表格名：<input type="TEXT" name="table_name" placeholder="the table name"><br/>
            输入列名：<input type="TEXT" name="column_a" placeholder="the column name"><br/>
            输入列名：<input type="TEXT" name="column_b" placeholder="the aolumn name"><br/>
            输入列名：<input type="TEXT" name="column_c" placeholder="the column name"><br/>
            <input type="SUBMIT" value="SUBMIT">
        </form>
    <body>
</html>
