<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form action="update" method="POST">
            请输入你要修改用户的ID:<input type="TEXT" name="the_user_id" placeholder="the user ID"><br />
            user name:<input type="TEXT" name="user_name" placeholder="the_user_name"><br/>
            password:<input type="TEXT" name="user_password" placeholder= "the user password"><br />
            time:<input type="TEXT" name="user_time" placeholder="time"><br />
            account number:<input type="TEXT" name="user_account_number" placeholder="your account number"><br/>
            <input type="SUBMIT" value="SUBMIT">
        </form>
    </body>
</html>
