<html>
    <head>
        <link rel=stylesheet type="text/css" href="{{url_for('static',filename='zhuye.css')}}">
    </head>

    <body>
        <form action="user.html" method="POST">
            <input type="SUBMIT" value="search">
        </form>
        <form action="delete.html" method="POST">
            <input type="SUBMIT" value="delete">
        </form>
        <form action="add.html" method="POST">
            <input type="SUBMIT" value="add">
        </form>
        <form action="update.html"  method="POST">
            <input type="SUBMIT" value="update">
        </form>
        <form action="add_table.html" method="POST">
            <input type="SUBMIT" value="add tables">
        </form>
    </body>
</html>

